// COLORS
:root {
	// Colors
	--color-block: black;
	// Width
	--maxw: 2560px;
	--containerWidth: px;
	// Media
	--md1: px;
	--md2: px;
	--md3: px;
	--md4: px;
} // var(--color, --bg-color)

/* 
	* 320px - 450px
	* 451px - 767px
	* 768px - 1000px
	* 1001px - 1200px
	* 1201px +
 */
